body {
  background-color: #d47677;
  font-family: "Manrope", sans-serif;
  color: #f0f0f0;
  padding-top: 125px;
}

h4 {
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credentials {
  display: flex;
  flex-direction: column;
}

#Username,
#Password {
  font-size: 12px;
  color: rgb(196, 196, 196);
  background-color: #f0f0f0;
  padding: 13px;
  margin: 10px 0;
  padding-right: 200px;
  border: 0.5px solid rgb(196, 196, 196);
}

.login-button {
  background-color: #9dd8d4;
  color: #f0f0f0;
  /* font-size: 12px; */
  border: none;
  padding: 8px 35px;
  cursor: pointer;
  position: relative;
  top: 5px;
  width: 400px;
  font: 50px;
}

#Checkbox {
  cursor: pointer;
  margin-top: 30px;
}

label {
  font-size: 12px;
  position: relative;
  bottom: 2px;
  left: 5px;
}

@media only screen and (min-width: 768px) {
  body {
    color: rgb(117, 117, 117);
    max-width: 400px;
    margin: auto;
    padding-top: 100px;
  }

  .login {
    background-color: #e7e7e7;
    padding: 10px 50px;
    width: 100%;
    max-width: 400px;
    height: 300px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }

  .form {
    max-width: 500px;
  }

  #Username,
  #Password {
    margin: 10px 25px;
  }

  .login-button {
    left: 145px;
    width: auto;
  }

  #Checkbox {
    transform: translate(25px, 0px);
    margin-top: 20px;
  }

  label {
    font-size: 10px;
    left: 30px;
  }
}
